// variables de colores

$azul: rgb(105, 247, 205);
$azul-claro: rgba(99, 191, 244, 1);
$gris: #212121;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:$azul;
$secondary:$gris;

// conectando con boostrap
@import "/node_modules/bootstrap/scss/bootstrap.scss";
